<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-blue-800">
    <div class="text-center text-3xl text-white mt-12">
    <p>PILIH JENIS TRANSAKSI</p>
</div>

<div class="flex">
    <div class="text-left text-white text-3xl mt-12 ml-96 space-y-20 grid w1/2">
        <p><-PENARIKAN</p>
        <p><-TRANSFER</p>
        <p><-PEMBELIAN</p>
        <p><-LAINNYA</p>
    </div>

    <div class="text-left text-white text-3xl mt-12 ml-96 space-y-20 grid w1/2">
        <p>INFO REKENING-></p>
        <p>PEMBAYARAN-></p>
        <p>UBAH PIN-></p>
        <A href="ambilkartu.html"><p>KELUAR-></p>
        </div>
    
    </div>


</body>
</html>